body {
    color:rgb(170, 141, 199);
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
}
/* Header */
.header {
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
    font-size: large;
    border: 2px solid black;
    resize: both;
    overflow: auto;
}
.header h3 {
    font-size:medium;
}
/* Let me show you my favorite things */
.letmeshow {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
}
.favthings {
    font-size:larger;
}
.colors {
    color:blue;
}
.hover:hover{
    transform: translateY(-10px);
}
.fonts {
    font-family:cursive;
    font-weight: bold;
}
/* Let's practice animatinos */
.practicean {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
}
/* Animations */
.anim1 {
    font-size:medium;
    font-weight: bolder;
    border: 4px solid gray;
    position: relative;
    width:fit-content;
    padding: 10px;
    transition: all 0.1s ease-in;
    color: gray;

  }
  .anim1:hover{
      font-size:xx-large;
      color:gray;
      border: 4px solid gray;
  }
.movingon {
    text-align: center;
}

/* Let's add photos */
.addphoto {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
    margin: 0 auto;
    margin-bottom: 60px;
}
/* gallery */
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }


.gallery_img {
    width: 100%;
    overflow:scroll;
    transition: all 0.2s ease-in;
}
.cattohumanyears {
    padding-bottom: 40px;
    display:flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    font-size:large;
}
#btn {
    padding: 40px;
    margin-bottom: 30px;
    font-size:x-large;
}

#catage {
    padding: 10px;
    height: 40px;
    width: 70px;
    margin-bottom: 30px;
    font-size:xx-large;
    text-align: center;
}

.clock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, purple 0%, lightblue 50%, purple 100%);
    border-radius: 50%;
    border: 2px solid black; 
    position: relative;
}

.clock .number {
    --rotation: 0;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; 
    transform: rotate(var(--rotation)); 
    font-size: 1.5rem;
}

.clock .number1 {--rotation: 30deg}
.clock .number2 {--rotation: 60deg}
.clock .number3 {--rotation: 90deg}
.clock .number4 {--rotation: 120deg}
.clock .number5 {--rotation: 150deg}
.clock .number6 {--rotation: 180deg}
.clock .number7 {--rotation: 210deg}
.clock .number8 {--rotation: 240deg}
.clock .number9 {--rotation: 270deg}
.clock .number10 {--rotation: 300deg}
.clock .number11 {--rotation: 330deg}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black; 
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.hour {
    width: 10px;
    height:30%;
    background-color: black;
}

.clock .hand.minute {
    width: 7px;
    height:40%;
    background-color: black;
}

.clock .hand.second {
    width: 3px;
    height:45%;
    background-color: red;
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} 


/* PI CSS */

.circle {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 14px solid tan;
    box-shadow:0px 0px 0px 1px brown inset;
    background-color: blue;
    background-size: 30px 30px;
    background-image:
      linear-gradient(45deg, tan 25%,
       transparent 25%),
      linear-gradient(-45deg, tan 25%,
       transparent 25%),
      linear-gradient(45deg, transparent 75%,
       tan 75%),
      linear-gradient(-45deg, transparent 75%,
       tan 75%);
    z-index: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .piButton {
    z-index: 10;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px black;
    font-size: x-large;
    padding: 15px;
    border-radius: 50%;
    background-color: aliceblue;
  }

  .PItext {
      color: blue;
      text-align: center;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
  }


  /* celsius to fahrenheit */ 
  .fahrenheitConversion {
      margin-top: 50px;
      text-align: center;
      color: black;
      display:flex; 
      flex-direction: column;
      align-items: center;
  }

#tempButton {
    padding: 40px;
    margin-bottom: 30px;
    font-size:x-large;
}

#celsius {
    padding: 10px;
    height: 40px;
    width: 70px;
    margin-bottom: 30px;
    font-size:xx-large;
    text-align: center;
}

#tempResult {
    font-size: x-large;
    font-weight: bold;
}



@keyframes changecolor {
    0% {background: pink}
    50% {background: lightblue}
    100% {background: lightgreen}
    
}

/* Countdown */
.countdown {
    color: black;
    text-align: center;
    display:flex; 
    flex-direction: column;
    align-items: center;
}

.countdowntimer {
    background: lightblue;
    border: 1px solid black;
    font-size:xx-large;
    width: fit-content;
    padding: 20px;
}
