body {
    color:rgb(170, 141, 199);
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}
/* Header */
.header {
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
    font-size: large;
}
.header h3 {
    font-size:medium;
}
/* Let me show you my favorite things */
.letmeshow {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
}
.favthings {
    font-size:larger;
}
.colors {
    color:blue;
}
.hover:hover{
    transform: translateY(-10px);
}
.fonts {
    font-family:cursive;
    font-weight: bold;
}
/* Let's practice animatinos */
.practicean {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
}
/* Animations */
.anim1 {
    font-size:medium;
    font-weight: bolder;
    border: 4px solid gray;
    position: relative;
    width:fit-content;
    padding: 10px;
    transition: all 0.1s ease-in;
    color: gray;

  }
  .anim1:hover{
      font-size:xx-large;
      color:gray;
      border: 4px solid gray;
  }
.movingon {
    text-align: center;
}

/* Let's add photos */
.addphoto {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    color: rgb(170, 141, 199);
    background-color: rgba(170, 141, 199, 0.2);
    margin: 0 auto;
    margin-bottom: 60px;
}
/* gallery */
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    margin-bottom: 20px;
}

.gallery_img {
    width: 100%;
    overflow:scroll;
    transition: all 0.2s ease-in;
}
.cattohumanyears {
    padding-bottom: 40px;
}